<footer>
    <div class="first">
    <span>There are several clothing you can found here such as:</span>
     <p>
      Tops,
      Dresses,
       Bottoms,
       Outerwear,
        Suits,
        Activewear,
       Swimwear,
       Lingerie,
       Sleepwear,
       Accessories
    </p>
    </div>    
    <div class="second">
        <span>This website will </span>
        <p>Fashion content hub, showcasing latest trends.
            Dynamic community connecting fashion enthusiasts.
            Personalized recommendations for style exploration.</p>
    </div>
    <div class="third">
        <span>Links</span>
       <p><ul>
            <li><a  href="/">Home</a></li>
            <li><a  href="/login">Login</a></li>
            <li><a  href="/signup">signup</a></li>
            <li><a  href="/newPhotos">NewPhotos</a></li>
            <li><a  href="/video">video</a></li>
        </ul></p>
    </div>
<div class="fifth">
           <span>Developed by <span>KeenD:</span></span>
            <p>This project developed and designed by KeenD will solve many community issue,
            and reduce transport issue,you will know new fashion here</p>
            <i class="bi bi-facebook"></i>
           <i class="bi bi-whatsapp"></i>
           <i class="bi bi-instagram"></i>
       </div>


    </footer>