<div class="header">
    <nav class="nav-menu">
        <div class="nav-icon"><section id="business-name"><span>b</span>uy <span>a<br></span><span>s</span>ell <span id="my-name"><!--<span>K</span>een<span>D</span>--></span></span></section>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/"><i class="bi bi-house-door icon"></i></a></i></li>
                <li><button class="dropbtn">Contacts</button></li>
                <li><button class="dropbtn">About</button></li>
                 <li><a href="/signup">SignUp</a></li>
                <li><button class="dropbtn"><a href="/newProduct">New Product</a></li>
                <li><img src="wifi.svg" class="light"></li>
                <li><img src="search.svg" onclick="toggleDisplay()"></li>
                <li></li>
               
              </li>
        
            </ul>      
        </div>  
        <!--about search-->
    </nav>
</div>